th, td {
    text-align: center;
    }
h1 {
    text-align: center;
}

.a{
    background-color: pink
}

.a:hover {
    background-color: aqua;
}
.b {
    background-color: bisque;
}

.c {
    background-color: aquamarine;
}

.d {
    background-color: burlywood;
}

.e {
    background-color: blueviolet;
}

.f {
    background-color: cadetblue;
}

.abc {
    background-color: #EAE;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.aq:hover {
    background-color: rebeccapurple;
    color: aqua;
}

.az:hover {
    background-color: pink;
    color: white;
}

.ax:hover {
    background-color: aquamarine;
    color: red;
}

.as:hover {
    background-color: brown;
    color: white;
}

.af:hover {
    background-color: greenyellow;
    color: skyblue;
}

.ag:hover {
    background-color: blue;
    color: palevioletred;
}

.ah:hover {
    background-color: cyan;
    color: antiquewhite;
}



